.Trigger {
    background-color: inherit;
    padding: .25em .05em;
    border: 1px solid transparent;
    border-radius: .25em;
    width: 10em;
    text-align: left;
    font-size: 1em;
}

.Trigger:hover {
    border-color: rgba(0, 0, 0, 0.745);
    cursor: pointer;
}

.Content {
  border-radius: 4px;
  background-color: white;
  padding: 2em;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.Content:focus {
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px, 0 0 0 2px var(--violet7);
}
.Content[data-state="open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.Content[data-state="open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.Content[data-state="open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.Content[data-state="open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.Arrow {
  fill: white;
}

.Close {
  font-family: inherit;
  border-radius: 100%;
  border: none;
  background-color: inherit;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.Close:hover {
  cursor: pointer;
}