.trigger {
    padding: 0.1em 1em;
    border: none;
    background-color: transparent;
}

.trigger:hover {
    cursor: pointer;
}

.content {
    background-color: beige;
}

.item {
    text-align: center;
    width: 6em;
}
/* .portal {
    background-color: yellowgreen;
} */